{% extends 'main/base.html' %}

{% block title %}Bell Numbers{% endblock %}

{% block content %}
<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <form method="POST" id="bell-form">
        {% csrf_token %}
        <div class="mb-3">
          <label for="" class="form-label">Enter a value between 1 and 30</label>
          <input class="form-control" id="name" name="value">
        </div>

        <div class="progress mt-3 d-none progress-bar-container">
          <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <button type="button" class="btn btn-danger mt-3 d-none cancel-btn">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
        <div class="alert alert-danger mt-3 d-none" id="error-message"></div>
  
      </form>
    
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
  var successMessage = $('#success-message');
  var errorMessage = $('#error-message');
  var progressInterval;

  $('form').submit(function (event) {
    event.preventDefault();
    var formData = $(this).serialize();
    var inputValue = parseInt($('#name').val());

    if (isNaN(inputValue) || inputValue < 1 || inputValue > 30) {
      errorMessage.text('Error: Please enter a number between 1 and 30.'); 
      errorMessage.removeClass('d-none');
      return;
    }

    successMessage.addClass('d-none');
    errorMessage.addClass('d-none');
    var labelText = 'Value = ' + inputValue;

    var progressBarContainer = $('<div class="progress"></div>');
    var labelElement = $('<label class="form-label mt-5"></label>').text(labelText);
    var progressBar = $('<div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>');
    progressBarContainer.append(progressBar);
    var container = $('<div class="progress-label-container"></div>');
    container.append(labelElement);
    container.append(progressBarContainer); 
    $(this).append(container);

    var cancelButton = $('<button type="button" class="btn btn-danger mt-2">Cancel</button>');

    function updateProgressBar(progressValue) {
      progressBar.width(progressValue + '%');
      progressBar.attr('aria-valuenow', progressValue);
    }

    $(this).append(cancelButton);
    var currentTaskId = null;
    var xhr; 
    var progressIntervals = {}; 
    var progressComplete = false;
    var cancelled = false;

    xhr = $.ajax({
    type: 'POST',
    url: $(this).attr('action'),
    data: formData,
    dataType: 'json',
    success: function (response) {
      clearInterval(progressIntervals[currentTaskId]); 
      currentTaskId = response.task_id;
      console.log('Current Task ID:', currentTaskId);
      cancelButton.removeClass('d-none');
      labelElement.removeClass('d-none');
      successMessage.removeClass('d-none');

      progressIntervals[currentTaskId] = setInterval(function () {
        if (!progressComplete && !cancelled) {
          $.ajax({
            type: 'GET',
            url: '/get_progress/' + currentTaskId,
            dataType: 'json',
            success: function (progressResponse) {
              updateProgressBar(progressResponse.progress);

              if (progressResponse.progress === 100) {
                progressComplete = true;
                cancelButton.addClass('d-none');
              }
            },
            error: function () {
              clearInterval(progressIntervals[currentTaskId]);
            }
          });
        }
      }, 1000);

      cancelButton.click(function () {
      clearInterval(progressInterval);

      $.ajax({
        type: 'POST',
        url: '/cancel_task/' + currentTaskId + '/',
        dataType: 'json',
        success: function (cancelResponse) {
          console.log(cancelResponse.success_message);
          cancelled = true; 
        },
        error: function () {
          console.error('Error cancelling the task');
        }
      });

        progressBarContainer.remove();
        cancelButton.remove();
        labelElement.addClass('d-none');
    });

    },
    error: function (error) {
      errorMessage.text('Error: ' + error.responseJSON.error_message);
      errorMessage.removeClass('d-none');
      clearInterval(progressIntervals[currentTaskId]); 
      progressBarContainer.addClass('d-none');
      cancelButton.addClass('d-none');
      labelElement.addClass('d-none');
    }
  });
});
});

</script>
{% endblock %}
